# machine-local directories and files
/vim/swp/
/vim/undo/
/vim/view/
/vim/local.vim

# spell files
/vim/spell/*.spl
/vim/spell/*.sug

# plugin manager
/vim/autoload/plug.vim*
/vim/plugged/

# history
/vim/.netrwhist

# windows
desktop.ini

# local files
*.local
