*.elc
*.local
/emacs/abbrev_defs
/emacs/anaconda-mode/
/emacs/auto-save-list/
/emacs/bookmarks
/emacs/custom.el
/emacs/elpa/
/emacs/eshell/
/emacs/games/
/emacs/history
/emacs/irony/
/emacs/local.el
/emacs/places
/emacs/projectile-bookmarks.eld
/emacs/recentf
/emacs/saveplace
/emacs/tramp
/tmux/plugins/
/vim/.netrwhist
/vim/autoload/plug.vim*
/vim/local.vim
/vim/plugged/
/vim/spell/*.spl
/vim/spell/*.sug
/vim/swp/
/vim/undo/
/vim/view/
