*.elc
/.lsp-session-v1
/abbrev_defs
/anaconda-mode/
/auto-save-list/
/bookmarks
/custom.el
/eclipse.jdt.ls/
/elpa/
/eshell/
/games/
/history
/irony/
/local.el
/persp-conf/
/places
/projectile-bookmarks.eld
/recentf
/saveplace
/tramp
/transient/
/url/
/workspace/
